<%- include('../layouts/header') %>
    <div class="container-fluid ">
        <div class="row my-5 mx-auto">
            <% products.forEach((row, index)=> { %>
                <div class="col-lg-3 col-md-6 mb-4 mx-auto">
                    <div class="card h-100 w-60 shadow">
                        <a href="#">
                            <img src="<%= row.image %>" height="100" class="card-img-top">
                        </a>
                        <div class="card-body text-center">
                            <h4 class="card-title text-center">
                                <a href="#">
                                    <%= row.name %>
                                </a>
                            </h4>
                            <h6 class="mx-1">Price: <%= row.price %>
                            </h6>
                            <h6 class="mx-1">Number in stock: <%= row.stock %>
                            </h6>
                            <h6 class="mx-1">Description: <%= row.description %>
                            </h6>
                            <h6 class="mx-1">Added date: <%= row.createdAt %>
                            </h6>
                            <div>
                                <a href="/products/edit/<%= row._id %>" class="text-success"><i
                                        class="fas fa-edit fa-lg mx-2"></i></a>
                                <a href="/products/delete/<%= row._id %>" class="text-danger"><i
                                        class="fas fa-trash fa-lg mx-2"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <% }) %>
        </div>
    </div>
    <%- include('../layouts/footer') %>